<h1>Hey ! Vérifiez votre email ici !</h1>

<p>
    Veuillez confirmer votre email en cliquant sur ce lien : <br><br>
    <a href="{{ signedUrl|raw }}">Confirmer mon email</a>.
    Le lien expire dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    On se revoit dans DealGames !
</p>
