{% extends 'base.html.twig' %}

{% block title %}DealGames - Votre Profil{% endblock %}

{% block body %}

<h1>Mon Profil</h1>

<div class="card">
    <h5 class="card-header">{{ app.user.firstname }} {{ app.user.lastname }}</h5>
    <div class="card-body">
      <p class="card-text">Adresse email : {{ app.user.email }}</p>
      <p class="card-text">Date d'inscription : {{ app.user.createdAt|date("d/m/Y") }}</p>
    </div>
  </div>
{% endblock %}
