{% extends 'base.html.twig' %}

{% block title %}DealGames - Modifier votre profil{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1 class="h3 mb-3 font-weight-normal">Modification de votre mot de passe</h1>
    
    {{ form(passwordForm) }}

</div>

{% endblock %}