{% extends 'base.html.twig' %}

{% block title %}DealGames - Annonces{% endblock %}

{% block body %}

<ul>
    {% for announce in announces %}
        <li>
            <a href="{{ path('announce.show', {id: announce.id}) }}">{{ announce.title }}</a>
        </li>
    {% endfor %}
</ul>
{% endblock %}
