{% extends 'base.html.twig' %}

{% block title %}DealGames - {{ announce.title }}{% endblock %}

{% block body %}
<h1> {{ announce.title }} </h1>

<h2>Publié par {{ announce.author }}</h2>

<p>
    {{ announce.description }}
</p>

{% endblock %}